@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	background: #fff;
}
#container {
	width: 960px;
	margin: 0 auto;
}

#header { 
	padding: 30px;
	background: #bbb;
}

#footer {
	clear: both;
	background: #aaa;
	padding: 10px;
}

.payment_edit {
	padding-top: 4px;
	text-align: right;
}

label{
	width: 8em;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block;
	padding-top: 5px
}